@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Poppins:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100vh;
    width: 100%;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
html{
    font-size: 62.5%;
}

:root{
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

h1{
    font-size: 3.5rem;
}
.h1{
    color: var(--base);
    font-style: italic;
}
.container{
    margin: 3rem auto;
}
label{
    font-size: 2.5rem;
    padding-right: 1rem;
}
img{
    
    background-color: var(--base);
    padding: var(--spacing);
    filter: blur(var(--blur));
    border-radius: 10px;
    max-width: 90%;
}



